{% extends "base.html" %}

{% block title %}Stock{% endblock %}

{% block content %}
<h2>Stock</h2>
<ul>
    {% for stock in stocks %}
        <li>{{ stock.modelo.nombre }}: {{ stock.cantidad }} unidades - 
        <a href="{{ url_for('ver_stock', id=stock.id) }}">Ver</a> | 
        <a href="{{ url_for('editar_stock', id=stock.id) }}">Editar</a> | 
        <form action="{{ url_for('eliminar_stock', id=stock.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
        </form>
        </li>
    {% endfor %}
</ul>

{% endblock %}
